[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[user]
  name = Seth Deckard
  email = seth@deckard.me
  signingkey = 9163ADCB946CFB2A
[includeIf "gitdir:~/Projects/acme/"]
  path = ~/Projects/acme/.gitconfig
[includeIf "gitdir:~/projects/acme/"]
  path = ~/projects/acme/.gitconfig
[diff]
  tool = diffmerge
[difftool "diffmerge"]
  cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = diffmerge
[mergetool "diffmerge"]
  cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
  trustExitCode = true
[push]
  default = simple
[init]
  templatedir = ~/.git_template
[commit]
  gpgsign = true
[alias]
  br = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
