[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[user]
  name = Seth Deckard
  email = seth@deckard.me
[include]
  # supports signingkey and other per-machine config
  path = ~/.gitconfig.inc
[includeIf "gitdir:~/projects/acme/"]
  # work-specific settings
  path = ~/projects/acme/.gitconfig
[includeIf "gitdir:~/work/"]
  # work-specific settings (new approach)
  path = ~/work/.gitconfig
[diff]
  tool = vimdiff
  mnemonicPrefix = true
  submodule = diff
[difftool "diffmerge"]
  cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = diffmerge
[mergetool "diffmerge"]
  cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
  trustExitCode = true
[pull]
  ff = only
[push]
  default = simple
[init]
  templatedir = ~/.git_template
[commit]
  gpgsign = true
[alias]
  aliases = config --get-regexp "^alias\\."
  br = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  lgfix = log --grep='^Fix\\b' --oneline --decorate
  lgup = log --grep='^Upgrade\\b' --oneline --decorate
  staged = diff --staged
  trash = branch -D
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
