[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[user]
  name = Seth Deckard
  email = seth@deckard.me
[includeIf "gitdir:~/Projects/acme/"]
  path = ~/Projects/acme/.gitconfig
[diff]
  tool = diffmerge
[difftool "diffmerge"]
  cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = diffmerge
[mergetool "diffmerge"]
  cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
  trustExitCode = true
[push]
  default = simple
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[init]
  templatedir = ~/.git_template
